<nav class="app-breadcrumb" aria-label="Breadcrumb" *ngIf="items.length">
  <ol class="breadcrumb-list">
    <li *ngFor="let item of items; let last = last" class="breadcrumb-item" [class.active]="last">
      <a
        *ngIf="!last && item.link"
        [routerLink]="item.link"
        [queryParams]="item.queryParams"
        class="breadcrumb-link"
      >{{ item.label }}</a>
      <span *ngIf="last || !item.link" class="breadcrumb-current">{{ item.label }}</span>
      <span *ngIf="!last" class="breadcrumb-sep" aria-hidden="true">/</span>
    </li>
  </ol>
</nav>
